@font-face {
    font-family: "Sosa";
    src: url("webfonts/sosa.eot?") format("eot"), 
    	 url("webfonts/sosa.woff") format("woff"), 
    	 url("webfonts/sosa.ttf") format("truetype");
}

.sosa {
	font-family: Sosa, serif;
	font-size: 28px;
	font-style: normal;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: #E5E5E5;
	background-color: #558BC4;
}

.navbar .brand {
	font-size: 25px;
	font-weight: bold;
}

#main-menu a {
	font-size: 19px;
	
}

body, body > header {
	padding-bottom: 60px;
}

.sidebar-nav {
	padding: 9px 0;
}

.bs-docs-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}

.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}

.bs-docs-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}

.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}

.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}

.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}