<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a data-id="nav-link" class="brand" href="#">Budget</a>
			<div class="nav-collapse collapse" id="main-menu">
				<ul class="nav" id="main-menu-left">
					<li data-id="home"><a data-id="nav-link" href="#"><i class="sosa">Ç</i> Home</a> </li>
					<li data-id="transacties"><a data-id="nav-link" href="#"><i class="sosa">U</i> Transacties</a></li>
					<li data-id="rapporten"><a data-id="nav-link" href="#"><i class="sosa">G</i> Rapporten</a></li>
					<li data-id="rekeningen"><a data-id="nav-link" href="#"><i class="sosa"><%= i18n.currency %></i> Rekeningen</a></li>
					<li data-id="rubrieken"><a data-id="nav-link" href="#"><i class="sosa">F</i> Rubrieken</a></li>
				</ul>
				<ul class="nav pull-right" id="main-menu-right">
					<li data-id="settings"><a data-id="nav-link" href="#"><i class="sosa">W</i></a></li>
				</ul>
        	</div>
		</div>
	</div>
</div>