<form class="form-horizontal">
	<fieldset>
		<legend ng-bind="title"></legend>
		<div class="control-group">
			<label for="name" class="control-label" ng-bind="resourceBundle.properties.name"></label>
			<div class="controls">
				<input type="text" ng-model="budget.name" ng-disabled="readOnlyMode" id="name">
			</div>
		</div>
		<div class="control-group">
			<label for="year" class="control-label" ng-bind="resourceBundle.properties.year"></label>
			<div class="controls">
				<input type="text" ng-model="budget.year" ng-disabled="readOnlyMode" id="year">
			</div>
		</div>
		<div class="control-group">
			<label for="description" class="control-label" ng-bind="resourceBundle.properties.description"></label>
			<div class="controls">
				<textarea ng-model="budget.description" ng-disabled="readOnlyMode" rows="3" id="description"></textarea>
			</div>
		</div>
		<div class="form-actions" ng-hide="readOnlyMode">
			<button id="save" type="submit" ng-click="save()" class="btn btn-primary" ng-bind="resourceBundle.buttons.save"></button>
			<button id="cancel" type="button" ng-click="cancel()" class="btn" ng-bind="resourceBundle.buttons.cancel"></button>
		</div>
	</fieldset>
</form>
