<form name="budgetForm" class="form-horizontal">
	<fieldset>
		<legend ng-bind="title"></legend>
		<!-- <input-field type="text" id="name" label="resourceBundle.properties.name" valid="budgetForm.name.$valid" 
			disabled="readOnlyMode"
			ng-model="budget.name"
			error_label="{{resourceBundle.budget.name_help}}">
        </input-field> -->
		<control-group for-attr="name" label="resourceBundle.properties.name">
          <input type="text" name="name" ng-model="budget.name" ng-disabled="readOnlyMode" id="name" required></input>
          <span class="help-block" ng-show="!readOnlyMode" ng-bind="resourceBundle.budget.name_help"></span>
        </control-group>
		<control-group for-attr="year" label="resourceBundle.properties.year">
			<input type="text" name="year" ng-model="budget.year" ng-disabled="readOnlyMode" id="year" required></input>
			<span class="help-block" ng-show="!readOnlyMode" ng-bind="resourceBundle.budget.year_help"></span>
		</control-group>
		<control-group for-attr="description" label="resourceBundle.properties.description">
			<textarea name="description" ng-model="budget.description" ng-disabled="readOnlyMode" rows="3" id="description"></textarea>
			<span class="help-block" ng-show="!readOnlyMode" ng-bind="resourceBundle.budget.description_help"></span>
		</control-group>
		<div class="form-actions" ng-hide="readOnlyMode">
			<button id="save" type="submit" ng-disabled="!budgetForm.$valid" ng-click="save()" class="btn btn-primary" ng-bind="resourceBundle.buttons.save"></button>
			<button id="cancel" type="button" ng-click="cancel()" class="btn" ng-bind="resourceBundle.buttons.cancel"></button>
		</div>
	</fieldset>
</form>
