<div id="home_container_toolbar" class="btn-toolbar">
  <div class="btn-group">
    <a id="newBudget" href="#/budgets/new" class="btn" data-placement="bottom" data-original-title="{{resourceBundle.budget.new_budget}}" data-tooltip><i class="icon-plus"></i></a>
    <a id="updateBudget" href="#/budgets/{{budget.id}}" class="btn" data-placement="bottom" data-original-title="{{resourceBundle.budget.update_budget}}" data-tooltip><i class="icon-pencil"></i></a>
  </div>
</div>

<section class="well">
	<budgetform resource-bundle="resourceBundle" form-title="{{resourceBundle.budget.default_budget}}" budget-model="budget" read-only-mode="true"/>
</section>

<section class="well" id="select-budget-section">
	<form class="form-horizontal">
		<div class="control-group">
			<label for="budgets_dropdown" class="control-label" ng-bind="resourceBundle.budget.select_budget"></label>
			<div class="controls">
				<select id="budgets_dropdown" class="input-xxlarge"
					ng-model="defaultBudget"
					ng-options="b.name + ' - ' + b.year for b in budgets">
					<option value="">...</option>
				</select>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" type="submit" ng-click="setAsDefault(defaultBudget)" id="set_default" ng-bind="resourceBundle.buttons.set_default"></button>
		</div>
	</form>
</section>