<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="3.0"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>budget-web</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
        	classpath:META-INF/spring/web/application-context.xml,
        	classpath:META-INF/spring/domain/application-context.xml,
        	classpath:META-INF/spring/domain/datasource-context.xml,
        	classpath:META-INF/spring/application/application-context.xml
        </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
			<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
		</init-param>
		<init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>be.budget.web.api;org.codehaus.jackson.jaxrs</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>imagesCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>static</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>2592000</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>cssCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>604800</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>jsCache</filter-name>
		<filter-class>com.samaxes.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>expirationTime</param-name>
			<param-value>216000</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>imagesCache</filter-name>
		<url-pattern>/img/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>cssCache</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>jsCache</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
</web-app>
